    <form>
  <div class="box-form">
    <div class="left">
      <div class="overlay">
      <h1>OUAI Store</h1>
      
      <span>
        <p>login with social media</p>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>login width Facebook</a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
      </span>
      </div>
    </div>
    
    
      <div class="right">
      <h3>Login</h3>
      <p>Don't have an account? <a >Creat Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="user name">
        <br>
        <input type="password" placeholder="password">
      </div>
        
        <br><br>
        
      <div class="remember-me--forget-password">
          <!-- Angular -->
    <label>
      <input type="checkbox" name="item" checked/>
      <span class="text-checkbox">Remember me</span>
    </label>
        <p>forget password?</p>
      </div>
        
        <br>
        <button>Login</button>
    </div>
    
  </div>
</form>