<header class="header shop">
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="shop single section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="product-gallery">
                                    <div class="flexslider-thumbnails">
                                        <ul class="slides">
                                            <div data-thumb='assets/images/RES.jpg' rel="adjustX:10, adjustY:">
                                                <img src='assets/images/8s.jpg' alt="#">
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="product-des">
                                    <div class="short">
                                        <h4>Billboard</h4>
                                        <div class="rating-main">
                                            <a href="#" class="total-review">(102) Review</a>
                                        </div>
                                        <p class="price"><span class="discount">$91.00</span><s>$120.00 </s>  for 1m x 1m</p>
                                        <p class="description">Not only does it convey important personal contact
                                            information such as name, title, email, website, address and phone number,
                                            but oftentimes it is also the first exposure to the overall image of the
                                            business. The company logo is prominently displayed for brand identity.</p>
                                    </div>
                                    <div class="product-buy">
                                        <div class="quantity">
                                            <h6>Quantity :</h6>
                                            <div class="input-group">
                                                <input type="text" name="quant[1]" class="input-number" data-min="1"
                                                    data-max="1000" value="1">
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <input style="display : none" type="file" (change)="onFileSelected($event)" #file>
                                            <a (click)="file.click()" class="btn">Uplode your desings</a>
                                        </div>
                                        <p class="cat">Category :<a href="#">Billboard</a></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="product-info">
                                    <div class="nav-main">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                    href="#description" role="tab">Description</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews"
                                                    role="tab">Reviews</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                                            <div class="tab-single">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="single-des">
                                                            <p>simply dummy text of the printing and typesetting
                                                                industry. Lorem Ipsum has been the industry's standard
                                                                dummy text ever since the 1500s, when an unknown printer
                                                                took a galley of type and scrambled it to make a type
                                                                specimen book. It has survived not only five centuries,
                                                                but also the leap into electronic typesetting, remaining
                                                                essentially unchanged. It was popularised in the 1960s
                                                                with the release of Letraset sheets containing Lorem
                                                                Ipsum passages, and more recently with deskto</p>
                                                        </div>
                                                        <div class="single-des">
                                                            <p>Suspendisse consequatur voluptates lorem nobis accumsan
                                                                natus mattis. Optio pede, optio qui metus, delectus!
                                                                Ultricies impedit, minus tempor fuga, quasi, pede felis
                                                                commodo bibendum voluptas nisi? Voluptatem risus tempore
                                                                tempora. Quaerat aspernatur? Error praesent laoreet,
                                                                cras in fames hac ea, massa montes diamlorem nec
                                                                quaerat, quos occaecati leo nam aliquet corporis, ab
                                                                recusandae parturient, etiam fermentum, a quasi possimus
                                                                commodi, mollis voluptate mauris mollis, quisque donec
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                                            <div class="tab-single review-panel">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="comment-review">
                                                            <div class="add-review">
                                                                <h5>Add A Review</h5>
                                                                <p>Your email address will not be published. Required
                                                                    fields are marked</p>
                                                            </div>
                                                            <h4>Your Rating</h4>
                                                        </div>
                                                        <form class="form" method="post" action="mail/mail.php">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-12">
                                                                    <div class="form-group">
                                                                        <label>Your Name<span>*</span></label>
                                                                        <input type="text" name="name"
                                                                            required="required" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-12">
                                                                    <div class="form-group">
                                                                        <label>Your Email<span>*</span></label>
                                                                        <input type="email" name="email"
                                                                            required="required" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-12">
                                                                    <div class="form-group">
                                                                        <label>Write a review<span>*</span></label>
                                                                        <textarea name="message" rows="6"
                                                                            placeholder=""></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-12">
                                                                    <div class="form-group button5">
                                                                        <button type="submit"
                                                                            class="btn">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="quickview-content">
                                    <h2>Flared Shift Dress</h2>
                                    <div class="quickview-ratting-review">
                                        <div class="quickview-ratting-wrap">
                                            <a href="#"> (1 customer review)</a>
                                        </div>
                                        <div class="quickview-stock">
                                            <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                        </div>
                                    </div>
                                    <div class="quickview-peragraph">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                            laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                            in quos qui nemo ipsum numquam.</p>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#" class="btn">Add art</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-top section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                            <div class="single-footer about">
                                <div class="logo">
                                    <a href="#">OuaiStore</a>
                                </div>
                                <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+212 645 674
                                            445</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>