<div id="hero-image">
  <div class="wrapper">
    <section class="main">
      <div class="cards">
        <div class="card" >
          <img src="assets/images/7a.jpg" >
          <div class="card-header">
            <h4 class="title">visit card</h4>
            <h4 class="price">10$</h4>
            <a (click)="btnza()" class="button-1">buy now</a>
          </div>
          <div class="card-body">
            <p>Get the right card, right away</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/7b.jpg">
          <div class="card-header">
            <h4 class="title">Bill Board's</h4>
            <h4 class="price">190$</h4>
            <a (click)="btn2()" class="button-1">buy now</a>
          </div>
          <div class="card-body">
            <p>Make and rent your Billboard ,right away</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/7c.jpg">
          <div class="card-header">
            <h4 class="title">Front signs</h4>
            <h4 class="price">500$</h4>
            <a (click)="btn3()" class="button-1">buy now</a>
          </div>
          <div class="card-body">
            <p>Make your front sign shop ,right away</p>
          </div>
        </div>
      </div>
      